<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Pomorganiza</title>
</head>
<body>
  <p><strong>Título projeto:</strong> <%= p.nome_projeto %></p>
  <p><strong>Descrição:</strong> <%= p.descricao %></p>

  <a href="/home">⬅️ Voltar</a>
</body>
</html>