:root {
  font-size: 16px;
}

body {
  font-family: 'Caveat', cursive;
  margin: 0;
  padding: 0;
  background-color: white;
}

header {
  background-color: #BCC07B;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.logo {
  height: 3rem;
}

main {
  padding: 2rem 3rem;
}

.titulo-projeto {
  font-size: 2rem;
  margin: 0 0 0.5rem 0;
}

.subtitulo {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.tarefas-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.card-tarefa {
  width: 12.5rem;  /* 200px */
  height: 12.5rem;
  background-color: #cc7c86;
  color: white;
  font-size: 5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #913640;
  transition: background-color 0.3s;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 25rem;
  position: relative;
}

.close {
  position: absolute;
  top: 0.625rem; 
  right: 0.9375rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.modal-content button {
  background-color: #b84149;
  color: white;
  border: none;
  padding: 0.75rem;
  width: 100%;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-size: 1rem;
}


footer {
  background-color: #D3343C;
  color: white;
  text-align: center;
  padding: 1.2rem;
  font-size: 1.1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
